#map { height: 500px; }

.solution {
	margin-bottom: 30px;
}

input.form-control {
	width: 250px;
}

input.form-control.lat-lng {
	width: 80px;
}

.solutiondiv, .depotdiv, .mapdiv, .stopdiv, .truckdiv {
	display: none;
}